# Dependencies
/node_modules

# System files
.DS_Store
*.pem

# Debug
npm-debug.log*

# Environment files
.env*
.secure/

# Credentials
credentials.json
oauth-credentials.json
token.json

# Deployment
.vercel

# Archives
.archive/
archived/

# Temp
temp/
screenshots/
